<!-- <p>footer works!</p> -->

 <!-- Footer-->
 <!-- <footer class="bg-dark py-4 mt-auto fixed-auto">
    <div class="container px-5">
        <div class="row align-items-center justify-content-between flex-column flex-sm-row">
            <div class="col-auto">
                <div class="small m-0 text-white">Copyright | Allrights reserved to  <a href="#">MovieSpot. &reg;</a>  Jan 2023</div>
            </div>
            <div class="col-auto">
                <a class="link-light small" href="#!">Privacy</a>
                <span class="text-white mx-1">&middot;</span>
                <a class="link-light small" href="#!">Terms</a>
                <span class="text-white mx-1">&middot;</span>
                <a class="link-light small" href="#!">Contact</a>
            </div>
        </div>
    </div>
</footer> -->

<footer class=" text-center text-white w-100">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!--  Social media -->
      <div class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-facebook"></i
        ></a>
  
        <!-- Twitter -->
        <!-- <a class="btn btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-twitter"></i
        ></a> -->
  
        <!-- Instagram -->
        <a class="btn btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a class="btn btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
  
        <!-- Github -->
        <a class="btn btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-github"></i
        ></a>
          </div>
      <!--  Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" id="copyright" >
       &copy; Copyright
      <a class="text-decoration-none" href="/home">MovieSpot.&reg;</a> Jan 2023
    </div>
    <!-- Copyright -->
  </footer>