<!-- <p>header works!</p> -->

   <!-- Navigation-->
   <!-- <nav class="navbar navbar-expand-lg fixed-top">
    <div class="container px-5">
        <a class="navbar-brand text-white" routerLink="/movies/home">Movie<span>Spot.</span> </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-5 mb-2 mb-lg-0 ">
                <li class="nav-item"><a class="nav-link text-light" routerLink="/movies/home">Home</a></li>
                <li class="nav-item"><a class="nav-link text-light" routerLink="/movies/all-movies">Movies</a></li>
                <li class="nav-item"><a class="nav-link text-light" routerLink="/movies/all-tvshows">TV Shows</a></li>
                <li class="nav-item"><a class="nav-link text-light" routerLink="/movies/watch-list">+ Watchlist</a></li>
                <li class="nav-item"><a class="nav-link text-light" routerLink="/movies/search">Search</a></li>
            </ul>
        </div>
        <!-- Example split danger button
<div class="btn-group">
    <button type="button" class="btn btn-secondary">More</button>
    <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
      <span class="visually-hidden">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" >Log Out</a></li>
      <li><a class="dropdown-item" >Delete Account</a></li>
      <!-- <li><a class="dropdown-item"></a></li> 
      <li><hr class="dropdown-divider"></li>
      <!-- <li><a class="dropdown-item"></a></li>
    </ul>
  </div>
    </div>
</nav> -->

 